.home-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: .8em;
  row-gap: .8em;
  color: white;
  height: calc(100vh - var(--header-height) - (var(--footer-height) + 1em));
  > div {
    overflow-y: scroll;
  }
  > div:nth-child(1) {
    grid-column: 1/3;
  }
  > div:nth-child(2) {
    grid-column: 3/9;
  }
}

#viewer, #sidebar {
  padding: 1em;
  h2 {
    font-size: 2em;
  }
}

#sidebar {
  width: 100%;
  padding: 1em;
  button {
    width: 100%;
    /* make the font size within the button slightly smaller */
    font-size: .8em;
    font-weight: 100;
    text-align: left;
    padding: .6em 0;
    display: block;
    border-radius: 0;
    border-bottom: 1px solid #4a4a4a;
    :nth-child(1) {
      font-size: 1.2em;
      font-weight: 300;
    }
    .btn-date {
      display: block;
      margin-top: -.4em;
      text-transform: uppercase;
      font-size: .6em;
    }
  }
}

.entry-header {
  p {
    margin-top: -.2em;
    margin-bottom: .6em;
  }
}
.review-bar {
  background-color: var(--white);
  border-radius: 10px;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: .6em;
  margin-bottom: 1.6em;
  color: var(--black);
  p {
    margin: 0;
  }
  a {
    color: var(--black);
  }
}
.changes {
  width: fit-content;
  padding: 1em;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
  h3 {
    color: var(--black);
    font-size: 1.4em;
  }
  p {
    font-size: .6em;
    margin-bottom: .4em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}