@import url('./fonts.css');

:root {
  --white: white;
  --black: #3d3d3d;
  --accent-light: #ffdeed;
  --accent-medium: #ffa1cb;
  --accent-dark: #ff4f9e;

  --header-height: 120px;
  --footer-height: 60px;
}
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}
.super-see-through {
  opacity: 5%;
}
.barely-see-through {
  opacity: 95%;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-light {
  color: var(--accent-light);
}
.text-medium {
  color: var(--accent-medium);
}
.text-dark {
  color: var(--accent-dark);
}

.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-light {
  background-color: var(--accent-light);
}
.bg-medium {
  background-color: var(--accent-medium);
}
.bg-dark {
  background-color: var(--accent-dark);
}

.color-rant {
  font-weight: 200;
  font-size: .7em;
  line-height: 2em;
  color: var(--accent-dark);
}
.rant {
  font-weight: 200;
  font-size: .7em;
  line-height: 2em;
}

.link {
  color: var(--white);
  font-weight: 200;
}
.link:active {
  color: var(--accent-medium);
}
.bold {
  font-weight: 300;
}
.extra-bold {
  font-weight: 400;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 1.2em;
  line-height: 1.6em;
}

li {
  margin-top: .2em;
  line-height: 1.2em;
}

h1 {
  font-family: UrbanStarblues;
  font-size: 2.6em;
  color: #ff4498;
}
h2 {
  color: var(--accent-light);
  font-family: Romantic;
  font-size: 2.4em;
  padding: 0;
  margin: 0;
  margin-left: .1em;
  margin-top: -.2em;
  letter-spacing: 6px;
}
h3 {
  color: var(--white);
  font-family: UrbanStarblues;
  font-size: 2em;
  padding: 0;
  margin: 0;
  margin-bottom: .6em;
}

.background-opac {
  position: fixed;
  z-index: -1;
  height: 300%;
  width: 200%;
  background-color: var(--white);
  opacity: 40%;
  margin: -8em;
}
body {
  position: relative;
  font-family: Cushion, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: large;
  height: 100vh;
  background: repeat url("https://jojoe.neocities.org/gingham.png");
  background-position: top left;
  background-size: 8%;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  > a {
    flex-shrink: 0;
    text-decoration: none;
  }
  nav {
    ul {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      list-style: none;
      row-gap: 1em;
      padding: 0;
      margin: 0;
      li {
        a {
          text-decoration: none;
          color: var(--white);
          background-color: var(--black);
          padding: .6em .8em .4em .8em;
          margin: 0 .6em;
          border-radius: 12px;
          transition: all .3s;
        }
        a:hover {
          color: var(--black);
          background-color: var(--accent-light);
          border-radius: 7px;
        }
      }
    }
  }
}
footer {
  position: sticky;
  height: var(--footer-height);
  top: calc( 100vh - var(--footer-height) );
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border-radius: 20px 20px 0 0;
  .footer-content {
    padding: 1em;
  }
}


main {
  color: var(--white);
}

.post {
  padding: 2.3em 3em 1.3em 3em;
  margin-bottom: 2em;
  border-radius: 20px;
}
.section {
  padding: 1.4em;
  border-radius: 20px;
}
.round {
  border-radius: 20px;
}

.blinkie {
  display: block;
  width: 200px;
}

button {
  padding: .4em .5em .3em .5em;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: 100;
}